llvmlite==0.42.0
matplotlib==3.9.0rc2
numba==0.59.1
numpy==1.26.4
scikit-learn==1.4.1.post1
scipy==1.13.0
sklearn==0.0
timm==0.4.5
torch==2.2.2
torchaudio>=0.8.1
torchvision==0.17.2
wget==3.2
zipp==3.4.1
